<Configuration>

  <!-- REMOVE ALL OLD OFFICE (MSI + C2R) -->
  <Remove All="TRUE">
    <RemoveMSI />
  </Remove>

  <!-- INSTALL MICROSOFT 365 APPS -->
  <Add OfficeClientEdition="64" Channel="Current">
    <Product ID="O365ProPlusRetail">
      <Language ID="en-gb" />
      <ExcludeApp ID="Outlook" />
      <ExcludeApp ID="Visio" />
    </Product>
  </Add>

  <!-- FORCE UPGRADE -->
  <Property Name="ForceUpgrade" Value="TRUE" />
  <Property Name="SharedComputerLicensing" Value="0" />
  <Property Name="AutoActivate" Value="1" />

  <Updates Enabled="TRUE" />
  <Display Level="None" AcceptEULA="TRUE" />

</Configuration>
